<div class="container">
    History page

    <div class="exercise-list">
        <div class="list-group">
            <div class="list-group-item" ng-repeat="traininig in history">
                <div class="exercise-item">
                    {{traininig.time | date:'dd MMMM yyyy'}}
                    <div ng-repeat="ex in traininig.exerciseGroups">
                        <div>
                            {{ex.exercises[0].name}}
                        </div>
                        <div>
                            {{formatSets(ex.exercises[0].sets)}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

