<div class="main-part container-area">
    <button id="timerButton" type="button" class="btn btn-primary navbar-btn navbar-right" ng-click="startTimer()">
        <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
        <span>Start Timer!</span>
        <!--span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span-->
    </button>
    <div class="list-group">
		  <a href data-target="#addExerciseRepetitionModal" data-toggle="modal" class="list-group-item list-group-item-success">
			<div class="repetition-item">
				<div class="repetition-item-left">
					<span class="repetition-icon">
						<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
					</span>
				</div>
				<div class="repetition-item-body">
					<h4>Log repetition!</h4>
				</div>
			</div>
		  </a>
		  <a href ng-click="doExercise(exercise.id)" class="list-group-item" ng-repeat="repetition in repetitionList">
			<div class="repetition-item">
				<div class="repetition-item-left">
					<span class="repetition-icon">
						<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
					</span>
				</div>
				<div class="repetition-item-body">
					<h4 class="list-group-item-heading">#{{repetition.id}}</h4>
					<p class="list-group-item-text">{{repetition.weight}} - {{repetition.repetitions}}</p>
				</div>
			</div>
		  </a>
	</div>
</div>
<div class="modal fade" id="addExerciseRepetitionModal">
  <div class="modal-dialog">
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title">Results</h4>
	  </div>
	  <div class="modal-body">
		<form>
		  <div class="form-group">
			<label for="repetition-weight" class="control-label">Weight:</label>
			<input type="text" class="form-control" id="repetition-weight" />
		  </div>
		  <div class="form-group">
			<label for="repetition-count" class="control-label">Count:</label>
			<input type="text" class="form-control" id="repetition-count" />
		  </div>
		</form>
	  </div>
	  <div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		<button type="submit" ng-click="logRepetition()" class="btn btn-primary">Save!</button>
	  </div>
	</div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->