.history-header{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25pt;
}
.history-training-time{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 12pt;
    color: #666666;
    text-decoration: underline;
    text-align: center;
}
.history-training-results{
    font-style: normal;
}
.history-training-name{
    text-decoration: initial;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12pt;
    text-transform: capitalize;
}

.history-item {
	margin: 0px;
}

.history-exercise-item {
    padding: 5px;
}
.history-list {
	padding-left: 15px;
	padding-bottom: 50px;
	padding-right: 15px;
	height: 100%;
	overflow: auto;
}
