.body { padding-top: 70px; }

.top-part {
	text-align: center;
	padding-top: 0px;
}
.exercise-number {
	font-family: 'Times New Roman', Times, serif;
	font-size: 25pt;
}
.exercise-item {
	margin: 0px;
	display: inline-block;
}
.exercise-item-left {
	display: table-cell;
	padding-right: 30px;
	vertical-align: middle;
}
.exercise-item-body {
	display: table-cell;
	vertical-align: middle;
}

.exercise-list {
	padding-left: 15px;
	padding-bottom: 50px;
	padding-right: 15px;
}

.exercise-bottom{
	text-align: center;
}

.done-text {
	display:block;
	font-family: 'Times New Roman', Times, serif; /* Гарнитура текста */ 
    font-size: 40px; /* Размер шрифта в процентах */ 
}

.date-text {
	display:block;
	font-family: 'Times New Roman', Times, serif; /* Гарнитура текста */ 
    font-size: 30px; /* Размер шрифта в процентах */
	padding-bottom: 10px;	
}