.keypad-style {
    border-collapse: separate; /* Способ отображения границы */ 
    width: 100%; /* Ширина таблицы */
    table-layout: fixed; 
    border-spacing: 8px 8px; /* Расстояние между ячейками */ 
 }

.key-style{
	width: 100%; 
	line-height: 100%; 
	font-size: 2em; 
	text-align: center;
}

.main-part {
	padding-left: 15px;
	padding-right: 15px;
}

.display-numbers-block {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.numbers-blocks {
	display: inline-block;
}

.label-name{
	font-size: 1.5em;
}

.numbers-style {
	font-size: 4.5em;
}

.keypad-btn-width {
	width: 100%;
}

.stop-restart-area{
	display: inline;
}

.start-area {
    margin-bottom: 5px;
}

.center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.timer-buttons-area {
	width: 100%;
    padding-top: 20px;
    padding-bottom: 5px;
    padding-right: 10px;
	margin-left: 5px;
    margin-right: 5px;
	float: left;
}

.start-stop-buttons {
	width: 49%;
	text-align: center;
}